image: python:3.10-bookworm

test:
  script:
  - pip install -r requirements.txt
  - pip install rasterio pykrige
  - pip install coverage
  - cd src
  - coverage run --source=emagpy test.py
  - coverage report --omit emagpy/invertHelper.py
  - coverage xml
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: src/coverage.xml


  
pages:
  script:
  - pip install -r requirements.txt
  - apt-get update
  - apt-get install --assume-yes pandoc
  - pip install sphinx==7.2.6 numpydoc==1.6.0 sphinx_rtd_theme nbsphinx sphinxcontrib-svg2pdfconverter sphinx-codeautolink
  - cd doc
  - sphinx-build -M html . _build
  - cd ..
  - mv doc/_build/html/ public/
  - ls public
  artifacts:
    paths:
    - public
  only:
  - stable
